In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('UMTMVS.csv')

In [3]:
df.head()

         DATE    UMTMVS
0  1992-01-01  209438.0
1  1992-02-01  232679.0
2  1992-03-01  249673.0
3  1992-04-01  239666.0
4  1992-05-01  243231.0

### Setting DATE column as index column

In [4]:
df=df.set_index('DATE')

In [5]:
df.head()

              UMTMVS
DATE
1992-01-01  209438.0
1992-02-01  232679.0
1992-03-01  249673.0
1992-04-01  239666.0
1992-05-01  243231.0

In [10]:
df.index

Index(['1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01', '1992-05-01',
       '1992-06-01', '1992-07-01', '1992-08-01', '1992-09-01', '1992-10-01',
       ...
       '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01'],
      dtype='object', name='DATE', length=325)

#### Index(date) is now in object data type mode we need to convert it to date time format

In [11]:
df.index=pd.to_datetime(df.index)

In [13]:
df.index #checking now to see if date is in date time format

DatetimeIndex(['1992-01-01', '1992-02-01', '1992-03-01', '1992-04-01',
               '1992-05-01', '1992-06-01', '1992-07-01', '1992-08-01',
               '1992-09-01', '1992-10-01',
               ...
               '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01',
               '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01',
               '2018-12-01', '2019-01-01'],
              dtype='datetime64[ns]', name='DATE', length=325, freq=None)